<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LuxeHair - Mèches de Haute Gamme{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300;400;500;600;700&family=Satoshi:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">

    {% block extra_head %}{% endblock %}
</head>
<body class="bg-white">

    {% include 'pages/include/navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'pages/include/footer.html' %}

    {% block extra_js %}{% endblock %}
</body>
</html>